# MacOS

.DS_Store
.netrwhist

# Grip
grip/cache*


# Mutt
mutt/.mutt/aliases


# Python
__pycache__
*.pyc
*.add.spl


# Vim
vim/.vim/.netrwbook
vim/testing
*.swp
vim/.vim/plugged
vim/.vim/autoload/plug.vim*


# Zsh
zsh_secrets
