# go.snippets
# Copyright (C) 2021 Ben Tilley <targansaikhan@gmail.com>
# 
# Distributed under terms of the MIT license.

# these functions are imported from the /pythonx dir in /.vim
# global !p
# from snippets.go import some_function
# endglobal


snippet fn "function definition" b
func ${1:name}(${2:args}) {
    ${0:body}
}
endsnippet
