# markdown file snippets

# these functions are imported from the /pythonx dir in /.vim
global !p
from snippets.markdown import generate_table
endglobal

snippet img "image" b
![${1:alt text}](${2:src}${3: "${0:title text}"})
endsnippet

snippet "code(.*)" "codeblock" r
\`\`\``!p snip.rv = match.group(1)`
$0
\`\`\`
endsnippet

snippet "r([0-9]+)c([1-9]+)" "Description" br
`!p generate_table(snip, match[1], match[2])`
endsnippet
