# pytest file snippets

# these functions are imported from the /pythonx dir in /.vim
# global !p
# from snippets.pytest import comma_if_args
# endglobal

snippet ft "Function test" b
def test_${1:function}(${2:fixtures}):
    ${0:pass}
endsnippet
