# sh snippets

snippet fn "function" b
${1:name}() {$0}
endsnippet

snippet if "if statement" b
if ${1:[ ${2:some test} ]}; then
  $0
fi
endsnippet

snippet case "case statement" b
case "${1:\$1}" in
  ${2:pattern})
    ${0:statements}
    ;;
esac
endsnippet

snippet pat "case statement pattern" b
${1:pattern})
  ${0:statements}
  ;;
endsnippet
